section{
  margin: 80px 0;
}


/* shared styles */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* header */
header {
  background-image: url('../Images/Hero-bg.png');
}
nav{
    display: flex;
    justify-content:space-between;
    margin: 0 100px;
    align-items: center;
}
.nav-text{
  text-align: center;
  padding: 100px 0;
}
.btn-all{
    padding: 15px 30px;
    background-color: #4E47FF;
    border: none;
    color: white;
    border-radius: 5px;
}

.action-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.action-image{
  border-radius: 20px;
}