section{
  margin: 80px 0;
}


/* shared styles */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* header */
header {
  background-image: url('../Images/Hero-bg.png');
}
nav{
    display: flex;
    justify-content:space-between;
    margin: 0 100px;
    align-items: center;
}
.nav-text{
  text-align: center;
  padding: 100px 0;
}
.btn-all{
    padding: 15px 30px;
    background-color: #4E47FF;
    border: none;
    color: white;
    border-radius: 5px;
}

.action-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.action-image{
  border-radius: 20px;
}

.productive-section{
  background-color: #4d47ff23;
  border-radius: 15px;
  text-align: center;
  margin: 0 150px;
}
.productive-content{
  padding: 15px 0;
}
.productive-number{
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 15px 0;
}

.input-class{
  display: flex;
  flex-direction: column;
}
input{
  width: 210px;
  border-radius: 4px;
  padding: 8px;
}
.text-area{
  width: 220px;
  border-radius: 4px;
}

.get-in-touch{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.footer-section{
}

.anchor-class{
  text-decoration: none;
  color: black;
}